footer a {
    text-decoration: none;  /* Remove underline */
 
  
}

a {
    text-decoration: none;  /* Remove underline */


}

footer a:hover {
   
    text-decoration: none; /* Ensure no underline on hover */
}


.calculator-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.calculator-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}
s