footer a {
    text-decoration: none;  /* Remove underline */
 
  
}

a {
    text-decoration: none;  /* Remove underline */


}

footer a:hover {
   
    text-decoration: none; /* Ensure no underline on hover */
}


.calculator-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.calculator-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

/* donot-remove this */
h1.post-title {
    display: none;
}

/* percentage calc */
.result {  margin-top: 20px;    font-size: 18px; font-weight: bold; color: #28a745;  }.error {  color: red; }  .custom-box {  background-color: #ffffff;  border-radius: 10px;  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); transition: all 0.3s ease; padding:  20px 20px 20px 20px;  margin: 20px 20px 20px 20px ;} .custom-box:hover { box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8); }
